body {
    background-color: darkblue;
}

.cloud-outline, .green-dot {
    opacity: 0;
}

/* Cloud-dot Animation */
.cloud-dot {
    transform-box: fill-box;
    animation: cloud-dot 2s ease-out forwards;
}

@keyframes cloud-dot {
    0%   {opacity: 0;}
    15%  {opacity: 0;}
    83%  {opacity: 1; transform: translateY(-123px);}
    93%  {transform: translateY(-123px) scale(1.8); transform-origin: center;}
    100% {transform: translateY(-123px) scale(0); transform-origin: center;}
}

/* Cloud Animation */
.cloud {
    opacity: 0;
    transform-box: fill-box;
    transform-origin: center;
    animation: cloud .5s ease-out forwards;
    animation-delay: 2s;
}

@keyframes cloud {
    0% {opacity: 1; transform: scale(0);}
    20% {opacity: 1; transform: scale(.5);}
    40% {opacity: 1; transform: scale(1);}
    50% {opacity: 1; transform: scale(1.3);}
    100% {opacity: 1; transform: scale(1);}
}

/* Fire Animation */
.back {
    transition: all 1 ease; 
    transform-origin: center;
    transform-box: fill-box;
    animation: fire 1s linear infinite alternate;
    animation-delay: 1s;
}

.middle {
    transition: all 1 ease; 
    transform-origin: center;
    transform-box: fill-box;
    animation: fire 1s linear infinite alternate;
    animation-delay: .5s;
}

.front {
    transition: all 1 ease; 
    transform-origin: center;
    transform-box: fill-box;
    animation: fire 1s linear infinite alternate;
}

@keyframes fire {
    0%   {opacity: 1; transform: scale(1);}
    100% {opacity: .8; transform: scale(.9);}
}