body {
    background-color: darkblue;
}

/* Fire Animation */
.back {
    transition: all 1 ease; 
    transform-origin: center;
    transform-box: fill-box;
    animation: fire 1s linear infinite alternate;
    animation-delay: 1s;
}

.middle {
    transition: all 1 ease; 
    transform-origin: center;
    transform-box: fill-box;
    animation: fire 1s linear infinite alternate;
    animation-delay: .5s;
}

.front {
    transition: all 1 ease; 
    transform-origin: center;
    transform-box: fill-box;
    animation: fire 1s linear infinite alternate;
}

@keyframes fire {
    0%   {opacity: 1; transform: scale(1);}
    100% {opacity: .8; transform: scale(.9);}
}