body {
    background-color: darkblue;
}

/* Fire Animation */

.back {
    transition: all 1 ease; 
    transform-origin: center;
    animation: fire 1s linear infinite alternate;
    animation-delay: 1s;
}

.middle {
    transition: all 1 ease; 
    transform-origin: center;
    animation: fire 1s linear infinite alternate;
    animation-delay: .5s;
}

.front {
    transition: all 1 ease; 
    transform-origin: center;
    animation: fire 1s linear infinite alternate;
}

@keyframes fire {
    0%   {opacity: 1; transform: scale(1)}
    100% {opacity: .8; transform: scale(.9)}
}

/* Green Dot Animation */

.container {
    display: grid;
    justify-items: start;
    align-items: start;
}

.container > * {
    grid-column-start: 1;
    grid-row-start: 1;
}

.green-dot {
    animation: green-dot 2s linear 1;
    /* Move 45 px to the right for animation */
}

.user {
    opacity: 50%;
}

@keyframes green-dot {
    0% {opacity: 0;}
    50% {opacity: .5; transform: translate(72px, 17px)}
    100% {opacity: 1;}
}