body {
    background-color: #0E2241;
}

svg {
    margin: 32px;
    padding: 32px;
}

/* Length 15.1 seconds */

/* Animation starts */

/* Cloud-dot Animation */
.cloud-dot path {
    transform-box: fill-box;
    animation: dotMoveRight 1s ease-out forwards;
}

@keyframes dotMoveRight {
    0%   {opacity: 0; fill: #60A5FA;}
    15%  {opacity: 0; fill: #60A5FA;}
    45%  {opacity: 0.5; fill: #60A5FA;}
    83%  {opacity: 1; fill: #FFFFFF; transform: translateX(134px);}
    93%  {fill: #FFFFFF; transform: translateX(134px) scale(1.8); transform-origin: center;}
    100% {fill: #FFFFFF; transform: translateX(134px) scale(0); transform-origin: center;}
}

/* Cloud Animation */
.cloud {
    opacity: 0;
    transform-box: fill-box;
    transform-origin: center;
    animation: cloudExpand .5s ease-out forwards;
    animation-delay: 1s;
}

@keyframes cloudExpand {
    0% {opacity: 1; transform: scale(0);}
    20% {opacity: 1; transform: scale(.5);}
    40% {opacity: 1; transform: scale(1);}
    50% {opacity: 1; transform: scale(1.3);}
    100% {opacity: 1; transform: scale(1);}
}

/* Fire-dot Animation */
.fire-dot path {
    opacity: 0;
    transform-box: fill-box;
    animation: dotMoveRight2 1s ease-out forwards;
    animation-delay: 1.5s;
}
    
@keyframes dotMoveRight2 {
    0%   {opacity: 0; fill: #FFFFFF;}
    15%  {opacity: 0; fill: #FFFFFF;}
    45%  {opacity: 0.5; fill: #FFFFFF;}
    83%  {opacity: 1; fill: #FF9D00; transform: translateX(134px);}
    93%  {opacity: 1; fill: #FF9D00; transform: translateX(134px) scale(1.8); transform-origin: center;}
    100% {opacity: 1; fill: #FF9D00; transform: translateX(134px) scale(0); transform-origin: center;}
}

/* Fire Animation */
.fire {
    opacity: 0;
    transform-box: fill-box;
    transform-origin: center;
    animation: fireOpacity .5s ease-out forwards;
    animation-delay: 2.5s;
}

.back {
    transition: all 1 ease; 
    transform-origin: center;
    transform-box: fill-box;
    animation: fireFlicker 1s linear 6 alternate;
    animation-delay: 3.5s;
}

.middle {
    transition: all 1 ease; 
    transform-origin: center;
    transform-box: fill-box;
    animation: fireFlicker 1s linear 6 alternate;
    animation-delay: 3s;
}

.front {
    transition: all 1 ease; 
    transform-origin: center;
    transform-box: fill-box;
    animation: fireFlicker 1s linear 6 alternate;
    animation-delay: 2.5s;
}

@keyframes fireOpacity {
    0% {opacity: 1; transform: scale(0);}
    20% {opacity: 1; transform: scale(.5);}
    100% {opacity: 1; transform: scale(1);}
}

@keyframes fireFlicker {
    0%   {opacity: 1; transform: scale(1);}
    100% {opacity: .8; transform: scale(.9);}
}

/* Logo Animation */

.logo {
    clip-path: inset(0 0 0 100%);
    animation: revealRightToLeft .5s ease-out forwards;
    animation-delay: 10s;
}

@keyframes revealRightToLeft {
    0% {
    clip-path: inset(0 0 0 100%);
    }
  100% {
    clip-path: inset(0 0 0 0);
    }
}

.fire-move-right {
    animation: fireMoveRight .5s ease-in-out forwards;
    animation-delay: 9.5s;
}

@keyframes fireMoveRight {
    0%   {opacity: 1;}
    100% {opacity: 1; transform: translateX(202px);}
}

.grad-cap {
    opacity: 0;
    clip-path: inset(100% 0 0 0);
    animation: capReveal .3s ease-out forwards;
    animation-delay: 10s;
}

@keyframes capReveal {
    0% {opacity: 1;
        clip-path: inset(100% 0 0 0);
      }
    100% {opacity: 1;
        clip-path: inset(0 0 0 0);
      }
}

/* Length: 10.5 seconds, reduced from 12.5 seconds */

/* Animation fades out */

/* Logo Fadeout */

.fadeout-logo {
    animation: hideLeftToRight .3s ease-out forwards;
    animation-delay: 12s;
}
  
@keyframes hideLeftToRight {
    0% {
    clip-path: inset(0 0 0 0);
    }
    100% {
      clip-path: inset(0 0 0 100%);
    }
}
  
.fire-move-left {
    animation: fireMoveLeft .3s ease-in-out forwards;
    animation-delay: 12.3s;
}
  
@keyframes fireMoveLeft {
    0%   {opacity: 1;}
    100% {opacity: 1; transform: translateX(-202px);}
}
  
.fadeout-grad-cap {
    animation: capHide .3s ease-out forwards;
    animation-delay: 12.3s;
}
  
@keyframes capHide {
    0% {opacity: 1;
          clip-path: inset(0 0 0 0);
    }
    100% {opacity: 1;
          clip-path: inset(100% 0 0 0);
    }
}

/* Fire Fadeout */
.fadeout-fire {
    transform-box: fill-box;
    transform-origin: center;
    animation: fireShrink .5s ease-out forwards;
    animation-delay: 12.6s;
}

@keyframes fireShrink {
    0% {opacity: 1; transform: scale(1);}
    20% {opacity: 1; transform: scale(.5);}
    100% {opacity: 0; transform: scale(0);}
}

.fadeout-dot path {
    opacity: 0;
    transform-box: fill-box;
    animation: dotMoveLeft 1s ease-out forwards;
    animation-delay: 13s;
}
    
@keyframes dotMoveLeft {
    0%   {opacity: .5; fill: #FF9D00;}
    15%  {opacity: 1; fill: #FF9D00;}
    30%  {opacity: 1; fill: #FF9D00;}
    45%  {opacity: .5; fill: #FF9D00;}
    95%  {opacity: 0; fill: #FFFFFF; transform: translateX(-134px);}
    100% {opacity: 0; fill: #FFFFFF; transform: translateX(-134px) scale(0);}
}

/* Cloud Fadeout */

.fadeout-cloud path {
    transform-box: fill-box;
    transform-origin: center;
    animation: cloudShrink .3s ease-out forwards;
    animation-delay: 13.9s;
}

@keyframes cloudShrink {
    0% {opacity: 1; transform: scale(1);}
    100% {opacity: 1; transform: scale(0);}
}

.fadeout-dot2 path {
    opacity: 0;
    transform-box: fill-box;
    animation: dotMoveLeft2 1s ease-out forwards;
    animation-delay: 14.1s;
}

@keyframes dotMoveLeft2 {
    0%   {opacity: .5; fill: #FFFFFF;}
    15%  {opacity: 1; fill: #FFFFFF;}
    30%  {opacity: 1; fill: #60A5FA;}
    45%  {opacity: .5; fill: #60A5FA;}
    95%  {opacity: 0; fill: #60A5FA; transform: translateX(-134px);}
    100% {opacity: 0; fill: #60A5FA; transform: translateX(-134px) scale(0);}
}

/* Animation ends */

/* Length 15.1 seconds */